.nav {
  margin-bottom: 20px;
}

.link {
  font-size: 30px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.link:hover {
  color: lightgray;
  transition: 0.1s;
}

.active {
  color: orangered;
}

.active:hover {
  color: orangered;
}

.item {
  list-style: none;
}
